
    <h1 class="background-text no-select"> About </h1>
    <div class="main-title">
        It has always been an excitement for me to be part of this technology era.
        <br>
        In last few years, the iteration cycle of online applications has been shortened.<br>
        In response to the changing demand from the market, technology stacks and applications have to stay flexible to adapt to any new demand.
        <br>
        To achieve this, software engineers need to rethink both front end and back end.<br>
        Decoupling web services and breaking them into smaller microservices is a better way to ensure the flexibility and scalability of online applications.
        <br>
        Active learning new knowledge is a must for developers. As a passionate developer I have always been trying to be jack of all trades and master of some.
        Hopefully my skills can make a ripple in the coming technology era.<br>

        </div>
