.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    background: #fff;
    color: #383a3c;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.25;
    font-family: 'Raleway', Calibri, Arial, sans-serif;
    overflow: hidden;
}

a, button {
    outline: none;
}

a {
    color: #566473;
    text-decoration: none;
}

a:hover, a:focus {
    color: #34495e;
}


p.ref {
    text-align: center;
    padding: 2em 1em;
}


/* Related demos */
.related {
    padding: 10em 0;
}

.related p {
    font-size: 1.5em;
}

.related > a {
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    vertical-align: middle;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    border-radius: 10px;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related a h3 {
    margin: 0;
    min-height: 63px;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

@media screen and (max-width: 40em) {

    .codrops-header h1 {
        font-size: 2.5em;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Page */

/* Header */
.large-header {
    position: relative;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.fa-4{
    font-size: 3em;
    margin-left: 10px;
    margin-top: 10px;
}

.main-title {
    position: fixed;
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
    top: 60%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    z-index: 9999;
}


.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.background-text{
    width: 100%;
    color: transparent;
    text-shadow: 0 0 8px rgba(0,0,0,0.7);
    font-size: 20em;
    opacity: 0.1;
    position: fixed;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    z-index: 9999;
}

.page-1 .background-text{
    color: #000000;
    top: 40%;
    opacity: 0.8;
    overflow: hidden;
    width: 30em;
    white-space: nowrap;

}

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100%; }
}

@keyframes blink{
    to{opacity: .0;}
}

.page-1 .main-title{

    font-size: 4.2em;
    letter-spacing: 0.1em;
}

@keyframes fadeIn{
    from { opacity: 0; }
    to{ opacity: 0.9; }
}

.page-1 .sub-title{

    color:#666666;
    opacity: 0.9;
    animation: fadeIn 3s steps(60, end); ;
}

.page-2 div{
    font-size: 25px;
}
.exp-right{
    position: fixed;
    top:40%;
    width:50%;
    right:0;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width : 768px) {


}

.navbar-inverse{
    background: transparent;
}

.main-nav{
    margin-top: 35px;
}

.page-1 {
    background: #CCCCCC;
}

.page-2 {
    background: #CACACA;
}

.page-3 {
    background: #CACACA;
}

.page-4 {
    background: #CACACA;
}

.page-5 {
    background: #CACACA;
}

.no-js body {
    overflow: auto;
}

.pt-page-ontop {
    z-index: 999;
}

.navbar{
    border: none;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Dot Navigation */

/* Common styles and resets */

div.dotstyle{
    position: absolute;
    top: 35%;
    z-index: 2;

}

.dotstyle ul {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dotstyle li {
    position: relative;
    display: block;
    margin: 16px 16px 0px 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    text-indent: -999em; /* make the text accessible to screen readers */
    cursor: pointer;
    position: absolute;
}

.dotstyle li a:focus {
    outline: none;
}

.dotstyle-circlegrow.ng-enter li a {
    overflow: hidden;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.dotstyle-circlegrow li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.dotstyle-circlegrow li a:hover,
.dotstyle-circlegrow li a:focus {
    opacity: 0.7;
}

.dotstyle-circlegrow li.current a::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Tooltip */
.dotstyle-tooltip li {
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}

.dotstyle-tooltip li a {
    top: auto;
    bottom: -40%;
    left: 50px;
    visibility: hidden;
    padding: 0 10px;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: #333333;
    color: #fff;
    text-indent: 0;
    line-height: 2;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-tooltip li a::after {
    position: absolute;
    left: -10px;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-color: transparent;
    border-right-color: #333333;
    content: '';
    pointer-events: none;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.no-touch .dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
    z-index: 100;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-35%) translateY(0%);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current {
    border-color: #333333;
}

.dotstyle-tooltip li:hover {
    z-index: 100;
}

.no-touch .dotstyle-tooltip ul:hover li.current a {
    opacity: 0.2;
}

.dotstyle-tooltip ul li.current:hover a {
    opacity: 1;
}

.dotstyle-tooltip li.current a.index-tooltip, .no-touch .dotstyle-tooltip li:hover a.index-tooltip{
    transform: translateX(-60%) translateY(0%);
}

.dotstyle-tooltip li.current a.about-tooltip, .no-touch .dotstyle-tooltip li:hover a.about-tooltip{
    transform: translateX(-60%) translateY(0%);
}

.dotstyle-tooltip li.current a.skill-tooltip, .no-touch .dotstyle-tooltip li:hover a.skill-tooltip{
    transform: translateX(-70%) translateY(0%);
}
.dotstyle-tooltip li.current a.contact-tooltip, .no-touch .dotstyle-tooltip li:hover a.contact-tooltip{
    transform: translateX(-50%) translateY(0%);
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* Overlay Menu*/

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

/* Menu style */
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
}

.overlay ul li a {
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}
